
.tsunami .dijitDialog {
	background: #eee;
	border: 1px solid #cbcbcb;
	-webkit-box-shadow: 0 5px 10px #adadad;
	padding: 0;
}
.tsunami .dijitDialog .dijitDialogTitle {
	
	font-weight: bold;
	padding: 0 4px;
	font-size: 0.9em;
	color: #243C5F;
}
.tsunami .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border-top: 1px solid #b1badf;
	padding:10px;
}
.tsunami .dijitDialogTitleBar {
	
	background: #fafafa url("images/titleBar.png") repeat-x top left;
	padding: 5px 6px 3px 6px;
	outline:0; 
}
.tsunami .dijitDialogCloseIcon {
	
	background-image: url("images/spriteRoundedIconsSmallBl.png");
	background-repeat: no-repeat;
	background-position: -60px 0;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
}
.dj_ie6 .tsunami .dijitDialogCloseIcon {
	background-image: url("images/spriteRoundedIconsSmallBl.gif");
}
.tsunami .dijitDialogCloseIconHover {
	background-position: -60px -15px;
}
.tsunami .dijitTooltip,
.tsunami .dijitTooltipDialog {
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 10px;
}
.dijitTooltipAbove {
	
	padding-bottom: 10px;
}
.tsunami .dijitTooltipContainer {
	
	background-color: #fff;
	border:1px solid #cbcbcb;
	padding:0.45em;
}
.tsunami .dijitTooltipConnector {
	
	border:0;
	z-index: 2;
}
.tsunami .dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 6px;
}
.tsunami .dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0;
	left: 6px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .tsunami .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorUp.gif");
}
.tsunami .dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0;
	left: 6px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .tsunami .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie .tsunami .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie6 .tsunami .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -5px;
}
.tsunami .dijitTooltipLeft {
	padding-right: 10px;
}
.tsunami .dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .tsunami .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}
.tsunami .dijitTooltipRight {
	padding-left: 10px;
}
.tsunami .dijitTooltipRight .dijitTooltipConnector {
	
	left: 0;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .tsunami .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}
