.soria .dijitToolbar .dijitToolbarSeparator {
	background: url('../../../images/icons/images/editorIconsEnabled.png'); 
}
.soria .dijitEditorIcon {
	background-image: url('../../../images/icons/images/editorIconsEnabled.png'); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.soria .dijitDisabled .dijitEditorIcon {
	background-image: url('../../../images/icons/images/editorIconsDisabled.png'); 
}
