.tsunami .dojoxGrid {
	position: relative;
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	-moz-outline-style: none;
	outline: none;
	overflow: hidden;
	height: 0;
}
.tsunami .dojoxGrid table {
	padding: 0;
}
.tsunami .dojoxGrid td {
	-moz-outline: none;
}
.tsunami .dojoxGridMasterHeader {
	position: relative;
}
.tsunami .dojoxGridMasterView  {
	position: relative;
}
.tsunami .dojoxGridMasterMessages {
	position: relative;
	padding: 1em;
	text-align: center;
	background-color: white;
}
.tsunami .dojoxGridView {
	position: absolute;
	overflow: hidden;
}
.tsunami .dojoxGridHeader {
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.tsunami .dojoxGridHeader {
	background-color: #E8E1CF;
}
.tsunami .dojoxGridHeader table {
	text-align: center;
}
.tsunami .dojoxGridHeader .dojoxGridCell { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url("images/grid_dx_gradient.gif") #E8E1CF top repeat-x;
	padding-bottom: 2px;
}
.tsunami .dojoxGridHeader .dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.tsunami .dojoxGridHeader .dojoxGridCellFocus {
	border: 1px dashed blue;
}
.tsunami .dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.tsunami .dojoxGridArrowButtonNode {
	display: none;
	padding-left: 16px;
}
.tsunami .dojoxGridArrowButtonChar {
	display:inline;
}
 
.tsunami .dojoxGridArrowButtonNode:hover {
        cursor: default;
}
.tsunami .dojoxGridArrowButtonChar:hover {
        cursor: default;
}
.tsunami .dojoxGridSortUp:hover {
        cursor: default;
}
.tsunami .dojoxGridSortDown:hover {
        cursor: default;
}
.dijit_a11y .tsunami .dojoxGridArrowButtonChar {
	display:inline !important;
}
.tsunami .dojoxGridScrollbox {
	position: relative;
	overflow: auto;
	background-color: white;
	width: 100%;
}
.tsunami .dojoxGridContent {
	position: relative;
	overflow: hidden;
	 -moz-outline-style: none;
	outline: none;
}
.tsunami .dojoxGridRowbar { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	border-top: none;
	background: url("images/grid_dx_gradient.gif") #E8E1CF top repeat-x;
}
.tsunami .dojoxGridRowbarInner {
	border-top: 1px solid #F6F4EB;
}
.tsunami .dojoxGridRowbarOver {
	background-image: none;
	background-color: white;
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
}
.tsunami .dojoxGridRowbarSelected {
	background-color: #D9E8F9;
}
.tsunami .dojoxGridRow {
	position: relative;
	width: 9000em;
}
.tsunami .dojoxGridRow {
	
	border: 1px solid #E8E4D8;
	border-color: #F8F7F1;
	
	border-left: none;
	border-right: none;
	background-color: white;
	border-top: none;
}
.tsunami .dojoxGridRowOver {
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
	
	
	
}
.tsunami .dojoxGridRowOdd {
	background-color: #FFFDF3;
	
}
.tsunami .dojoxGridRowSelected {
	background-color: #D9E8F9;
}
.tsunami .dojoxGridRowTable {
	table-layout: fixed;
	width: 0;
	empty-cells: show;
}
.dj_ie .tsunami .dojoxGridRowTable {
	border-collapse: collapse;
}
.tsunami .dojoxGridInvisible {
	visibility: hidden;
}		
.Xdojo-ie .tsunami .dojoxGridInvisible {
	display: none;
}		
.tsunami .dojoxGridInvisible td, .dojoxGridHeader .dojoxGridInvisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}
.tsunami .dojoxGrid .dojoxGridCell {
	border: 1px solid;
	border-color: #EBEADB;
	border-right-color: #D5CDB5;
	padding: 3px 3px 3px 3px;
	text-align: left;
	overflow: hidden;
}
.tsunami .dojoxGridCellFocus {
	border: 1px dashed blue;
}
.tsunami .dojoxGridCellOver {
	border: 1px dotted #FEBE47;
}
.tsunami .dojoxGridCellFocus.dojoxGridCellOver {
	border: 1px dashed green;
}
.tsunami .dojoxGridRowEditing td {
	background-color: #F4FFF4;
}
.tsunami .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.tsunami .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.tsunami .dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.tsunami .dojoxGridInput, .tsunami .dojoxGridSelect, .tsunami .dojoxGridTextarea {
	margin: 0;
	padding: 0;
	border-style: none;
	width: 100%;
	font-size: 100%;
	font-family: inherit;
}
.tsunami .dojoxGridHiddenFocus {
	position: absolute;
	top: -1000px;
	height: 0;
	width: 0;
}
.dijit_a11y .tsunami .dojoxGridRowbarSelected { 
	border-top: 1px solid white;
	border-bottom: 1px dashed black;
	border-top: 0;
	background: none;
}
.dijit_a11y .tsunami .dojoxGridRowbarSelected .dojoxGridRowbarInner {
	border: 0;
	border-top: 1px solid white;
}
.dijit_a11y .tsunami .dojoxGridRowSelected {
	border: 1px solid black !important;
}
.tsunami .dojoxGridRowTable .dojoDndHorizontal th.dojoDndItem {
	display: table-cell;
	
	margin: 0;
}
.tsunami .dojoxGridDndAvatar {
	font-size: 100%;
}
.tsunami .dojoxGrid .dojoDndItemBefore {
	border-left-color: red;
}
.tsunami .dojoxGrid .dojoDndItemAfter {
	border-right-color: red;
}
.dijit_a11y .tsunami .dojoDndItemBefore {
	border-left: double;
}
.dijit_a11y .tsunami .dojoDndItemAfter {
	border-right: double;
}
.tsunami .dojoxGridDndAvatarItem	td {
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url("images/grid_dx_gradient.gif") #E8E1CF top repeat-x;
	padding: 0pt;
	margin: 0pt;
}
.tsunami .dojoxGridDndAvatarItem	td.dojoxGridDndAvatarItemImage {
	border: 0;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background-color: transparent;
	padding: 3px;
	padding-bottom: 2px;
	margin: 0;
}
.dojoDndMove .tsunami .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url("../../../icons/images/dndNoMove.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .tsunami .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url("../../../icons/images/dndNoCopy.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .tsunami .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url("../../../icons/images/dndMove.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .tsunami .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url("../../../icons/images/dndCopy.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.tsunami .dojoxGridColPlaceBottom {
	background: transparent url("images/grid_sort_up.gif") no-repeat scroll left top;
}
.tsunami .dojoxGridColPlaceTop {
	background: transparent url("images/grid_sort_down.gif") no-repeat scroll left top;
}
.tsunami .dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.tsunami .dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
	cursor: col-resize;
	z-index:10000;
}
.tsunami .dojoxGridColNoResize, 
.tsunami .dojoxGridColNoResize .dojoDndItemOver {
	cursor: not-allowed !important;
}
.tsunami .dojoxGridColResize, 
.tsunami .dojoxGridColResize .dojoDndItemOver,
.tsunami .dojoxGridColumnResizing,
.tsunami .dojoxGridColumnResizing .dojoDndItemOver,
.tsunami .dojoxGridColumnResizing .dojoxGridHeader {
	cursor: col-resize !important;
}
.tsunami .dojoxGridColPlaceBottom {
	background: transparent url("images/grid_sort_up.gif") no-repeat scroll left top;
}
.tsunami .dojoxGridColPlaceTop {
	background: transparent url("images/grid_sort_down.gif") no-repeat scroll left top;
}
.tsunami .dojoxGridColPlaceTop, .tsunami .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.tsunami .dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
}
.tsunami .dojoxGridExpandoCell {
	vertical-align: middle;
}
.tsunami .dojoxGridSummarySpan {
	visibility: hidden;
}
.tsunami .dojoxGridSummaryRow .dojoxGridSummarySpan,
.tsunami .dojoxGridRowCollapsed .dojoxGridSummarySpan {
	visibility: visible;
}
.tsunami .dojoxGridNoChildren .dojoxGridExpando {
	visibility: hidden !important;
	width: 0px !important;
}
.tsunami .dojoxGrid {
	background-color: #e9e9e9;
	font-size: 0.85em; 
}
.tsunami .dojoxGridMasterMessages {
	background-color: #fefefe;
}
.tsunami .dojoxGridHeader {
	background-color:  #e9e9e9;
}
.tsunami .dojoxGridHeader .dojoxGridCell { 
	border-width: 1px;
	padding-bottom: 0px;
	border-color: transparent #ACA899 #919191 transparent;
	background: url(../../dijit/images/titleBar.png) #e9e9e9 repeat-x top;
	color: #000 !important;
}
.tsunami .dojoxGridHeader .dojoxGridCellOver {
	background: url(../../dijit/images/titleBarActive.png) #e9e9e9 repeat-x top;
}
.tsunami .dojoxGridHeader .dojoxGridCellFocus {
	border-color: #ACA899 #919191;
	border-style: dashed;	
}
.tsunami .dojoxGridArrowButtonChar {
	float: right;
	display: none;
}
.tsunami .dojoxGridArrowButtonNode {
	display: block !important;
	padding-left: 0px;
	float: right;
	background:url("../../dijit/images/spriteArrows.png") no-repeat left center;
	margin-top: 2px;
	width: 11px;
	height: 1em;
}
.dj_ie6 .tsunami .dojoxGridArrowButtonNode {
	background-image:url("../../dijit/images/spriteArrows.gif");
	margin-left: 0px;
}
.tsunami .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .tsunami .dojoxGridArrowButtonNode {
	display: none !important;
}
.tsunami .dojoxGridScrollbox {
	background-color: #fefefe;
}
.tsunami .dojoxGridRowbar { 
	border: none;
	background: url(../../dijit/images/titleBar.png) #e9e9e9 repeat-y right;
	border-right: 1px solid #ccc;
	padding: 0px;
}
.tsunami .dojoxGridRowbarInner {
	border: none;
	border-bottom: 1px solid #ccc;
}
.tsunami .dojoxGridRowbarOver {
	background: url(../../dijit/images/titleBarActive.png) #e9e9e9 repeat-y right;
}
.tsunami .dojoxGridRowbarSelected {
	background: url(../../dijit/images/titleBar.png) #D9E8F9 no-repeat center;
	border-right: 1px solid #ccc;
}
.tsunami .dojoxGridRow {
	border: none;
	background-color: white;
}
.tsunami .dojoxGridRowOver {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
.tsunami .dojoxGridRowOver .dojoxGridCell {
	background-color: #60a1ea; 
	color:#fff;
}
.tsunami .dojoxGridRowOver .dojoxGridCell .dijit {
	color: #000;
}
.tsunami .dojoxGridRowOver .dojoxGridCell .dijitDisabled {
	color: gray;
}
.tsunami .dojoxGridRowOdd {
	background-color: #f2f5f9;
}
.tsunami .dojoxGridRowSelected {
	background-color: #aec7e3;
}
.dijit_a11y .tsunami .dojoxGridRowSelected { 
    background-color: #aec7e3;     
    border-style: solid;     
}   
.tsunami .dojoxGridCell {
	border: 1px dotted #D5CDB5;
	border-left-color: transparent;
	border-top-color: transparent;
}
.dj_ff2 .tsunami .dojoxGridCell {
	border-left-width: 0px;
	border-top-width: 0px;
}
.dj_ie6 .tsunami .dojoxGridCell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}
.tsunami .dojoxGridCellFocus {
	border: 1px dashed darkblue;
}
.tsunami .dojoxGridCellOver {
	border: 1px dotted #a6a6a6;
}
.tsunami .dojoxGridCellFocus.dojoxGridCellOver {
	border: 1px dashed darkblue;
}
.tsunami .dojoxGridRowEditing td {
	
	background-color: #60a1ea; 
	
}
.tsunami .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.tsunami .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.tsunami .dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.tsunami .dojoxGrid .dojoDndItemBefore {
	border-left-color: #4B5AAA;
}
.tsunami .dojoxGrid .dojoDndItemAfter {
	border-right-color: #4B5AAA;
}
.tsunami .dojoxGridExpando {
	float: left;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-top: -3px;
}
.dijitRtl .tsunami .dojoxGridExpando {
	float: right;
}
.tsunami .dojoxGridExpandoCell {
	padding-top: 5px;
}
.tsunami .dojoxGridExpandoNode {
	height: 18px;
	background-image: url('../../dijit/images/spriteTree.gif');
}
.tsunami .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background: url('../../dijit/images/spriteTree.gif') no-repeat -18px top;
}
.tsunami .dojoxGridExpandoLoading .dojoxGridExpandoNode {
	background: url('../../dijit/images/treeExpand_loading.gif');	
}
.tsunami .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpando {
	visibility: visible !important;
	width: 18px !important;
}
.tsunami .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode {
	background: url('../../dijit/images/spriteTree.gif') no-repeat -36px top;
}
.tsunami .dojoxGridExpandoNodeInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridExpandoNodeInner {
	visibility: visible;
}
		
.tsunami .dojoxGridSummaryRow .dojoxGridCell {
	border-top-color: #999;
	border-top-style: solid;
}
.tsunami .dojoxGridSpacerCell,
.tsunami .dojoxGridExpandoCell,
.tsunami .dojoxGridSummaryRow .dojoxGridSpacerCell {
	border-color: transparent;
	border-right-color: #D5CDB5;
}
.tsunami .dojoxGridSummaryRow .dojoxGridTotalCell,
.tsunami .dojoxGridRowCollapsed .dojoxGridExpandoCell,
.tsunami .dojoxGridTreeModel .dojoxGridExpandoCell {
	border-bottom-color: #D5CDB5;
}
.tsunami .dojoxGridSubRowAlt {
	background-color: #F8F8F8;
}
.tsunami .dojoxGridRowOdd .dojoxGridSubRowAlt {
	background-color: #EDEFF3;
}
.tsunami .dojoxGridRowTable .dojoDndHorizontal th.dojoDndItem {
	padding: 3px;
}
