
.dijitRtl .tsunami .dijitSliderProgressBarH,
.dijitRtl .tsunami .dijitSliderRemainingBarH,
.dijitRtl .tsunami .dijitSliderLeftBumper,
.dijitRtl .tsunami .dijitSliderRightBumper,
.dijitRtl .tsunami .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .tsunami .dijitSliderProgressBarV,
.dijitRtl .tsunami .dijitSliderRemainingBarV,
.dijitRtl .tsunami .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .tsunami .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}
.dijitRtl .tsunami .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}
.dijitRtl .tsunami .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}
.dijitRtl .tsunami .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
